<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elantix.dopeapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.elantix.dopeapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.elantix.dopeapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >

        <service
            android:name="MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--android:largeHeap="true"-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.elantix.dopeapp.WelcomeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.elantix.dopeapp.SignInActivity"
            android:label="@string/signin_activity_label"
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.elantix.dopeapp.WelcomeActivity"/>

        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".TabPlusActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".AuthorizationRecognitionHiddenActivity"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AuthActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".MessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>

        <activity android:name=".SearchWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>

        <activity android:name=".ShareDopeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity android:name=".ShareProfileActivity"
            android:screenOrientation="portrait"
            >

        </activity>


        <activity android:name=".ReportPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity android:name=".CommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            >
        </activity>

        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            >

        </activity>

        <activity android:name=".DopeStatisticsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".ProfileSettingsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".GroupSettingsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".AboutDopeActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f603eaaf0fb2148ba2ccb267c91e94677a29066" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f603eaaf0fb2148ba2ccb267c91e94677a29066" />

        <activity android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

    </application>

</manifest>
